

 /*body{background-color: silver ;}*/


body {
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("/img/img.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white; /* Makes text readable */
}

.navbar-glass {
    background: rgba(0, 0, 0, 0.4); /* semi-transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
}


/* Estilos de Tarjeta y Flip */
.card {
	width: 100%;
	height: 300px;
}
.card-grid {
  
  width: 250px;
  height: 300px;
  margin: 20px;
  display: inline-block;
}
.card-grid .front, .card-grid .back {
  padding: 10px;
  text-align: center;
  border: 1px #333 solid;
}
.card-grid .front {
  background-color: #eee;
}
.card-grid .back {
  background-color: #333;
  color: white;
}
.card .front{
	text-align: center;
	font-size: 30px;
	font-weight: 200;
}
.card .back{
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	background-color: #eee;
}
.card img{
	width: 100%;
	height: 100%;
}
.card > .back{
	word-wrap: break-word;
}
/* Responsividad */

@media only screen and (max-width:600px){} /*xs phones*/
@media only screen and (min-width:600px){} /*phones*/
@media only screen and (min-width:768px){} /*tablets*/
@media only screen and (min-width:992px){} /*laptops y desktops*/
@media only screen and (min-width:1200px){} /*laptops grandes y desktops*/
/* */


    .cart {
      position: relative;
      cursor: pointer;
    }

    .cart-count {
      position: absolute;
      top: -10px;
      right: -10px;
      background: red;
      color: white;
      border-radius: 50%;
      padding: 4px 8px;
      font-size: 0.8rem;
    }
/* 	productos de canasta */
  /*.product { margin-bottom: 10px; } */
  /*  .cart-item { border-bottom: 1px solid #ccc; padding: 5px 0; }*/
    
    
    .table-wrapper {
    margin-top: 80px;
}

.table-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
    
.admin-bg {
	background-image: url("/img/fall.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}    
    
    
    
    
    